* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.centered-square {
    width: 850px;
    height: 800px;
    background-color: whitesmoke;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid #ff7e5f;
}

.layout-item1 {
    width: 835px;
    height: 80px;
    flex-grow: 1;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    background: linear-gradient(to right, #f7a18c, #fbcaa5);
    border: 2px solid #ff7e5f;
    color: white;
    margin-bottom: 0;
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}

.layout-square {
    width: 400px;
    height: 285px;
    position:absolute;
    display: flex;
    margin-right: 400px;
}

.layout-icon {
    width: 30x;
    height: 30px;
}

.fa-solid {
    display: flex;
    align-items: center;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.04);
    margin-left: 15px;
    font-size: 50px;
    color: #ff7e5f;
}

.layout-item2:nth-child(n+2) {
    width: 835px;
    height: 100px;
    flex-grow: 2;
    color: white;
    border: 2px solid #ff7e5f;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 40px;
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button-container {
    display: flex;
    justify-content: center;
}

.button-yes {
    background-color: #ff7e5f;
    color: white;
    padding: 5px 12px;
    border: 2px solid #f5552d;
    border-radius: 15px;
    cursor: pointer;
    margin-bottom: 20px;
    font-size: 30px;
    transition: background-color 0.3s, box-shadow 0.3s;
    font-family: 'Gabriela', cursive;
    margin-right: 50px;
}

.button-yes:hover {
    background-color: #ef4916; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08); 
}

.button-no {
    background-color: #ff7e5f;
    color: white;
    padding: 5px 12px;
    border: 2px solid #f5552d;
    border-radius: 15px;
    cursor: pointer;
    margin-bottom: 20px;
    font-size: 30px;
    transition: background-color 0.3s, box-shadow 0.3s;
    font-family: 'Gabriela', cursive;
    margin-right: 50px;
}

.button-no:hover {
    background-color: #ef4916; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08); 
}


.button-close {
    background-color: #ff7e5f;
    color: white;
    padding: 6px 15px;
    border: 2px solid #f5552d;
    border-radius: 15px;
    cursor: pointer;
    margin-bottom: -50px;
    font-size: 30px;
    transition: background-color 0.3s, box-shadow 0.3s;
    font-family: 'Gabriela', cursive;
}

.button-close:hover {
    background-color: #ef4916; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08); 
}

.layout2 {
    animation: btnShow 0.2s linear;
    z-index: 2;
}

.hide {
    display: none;
}

.showModal {
    display: none;
}

@keyframes btnShow {
    from{
        top: -200px;
        opacity: 0;
    }

    to{
        top: 0;
        opacity: 2;
    }
}

.modal {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.04);
}

.modal__inner {
    width: 400px;
    position: relative;
    top: 50%;
    margin: auto;
    background: white;
}

.modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background: #ff7e5f;
    color: white;
    font-family: 'Gabriela', cursive;
}

.modal__body {
    padding: 15px;
}

.modal__body h2 {
    color: #ff7e5f;
    margin-bottom: 15px;
    font-family: 'Gabriela', cursive;
}

.modal__footer {
    padding: 15px;
    text-align: right;
}

.button__footer {
    padding: 10px 20px;
    color: white;
    background: #ff7e5f;    
    font-family: 'Gabriela', cursive;
    border-radius: 10px;
    border: 2px solid #f5552d;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.button__footer:hover {
    background-color: #ef4916; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08); 
}
